<div id="<%= dom_id comment %>">
  <p>
    <strong>Remark:</strong>
    <%= comment.remark %>
  </p>

  <p>
    <strong>Post:</strong>
    <%= comment.post_id %>
  </p>

  <p>
    <strong>Admin:</strong>
    <%= comment.admin_id %>
  </p>

</div>
