<br>
<br>
<h2  id="new_post_heading" ,class="mb-5">New <span class="text-danger">Post</span></h2>

<%= render "form", post: @post %>

<br>

<div>


  <%= link_to "Back to posts", posts_path %>
</div>
